<!DOCTYPE html>

<!-- Jasen Carroll
Aug 17th, 2015 -->
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Puppy Adoption</title>
    <meta name="description" content="Adoption website for Puppies in the Bay Area">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/lumen/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <h3>Puppy Adoption Website</h3>
          <ol class="breadcrumb">
            <li><a href="{{ url_for('index')}}">Home</a></li>
            <li><a href="{{ url_for('showShelter', shelter_id=shelter.id) }}">{{ shelter.name }}</a></li>
            <li class="active">New Puppy</li>
          </ol>
        </div>
      </div>
    </nav>
    <form class="well bs-component clearfix" action="{{ url_for('newPuppy', shelter_id=shelter.id) }}" method="POST">
      <legend>New Puppy for {{ shelter.name }}</legend>
      {{ form.csrf_token }}
      <div class="form-group col-xs-12">
        <label for="puppy-name">Name</label>
        {{ form.name(class="form-control", placeholder="Name") }}
        {% if form.name.errors %}
          <div class="alert alert-warning" role="alert">{% for error in form.name.errors %}{{ error }}{% endfor %}</div>
        {% endif %}
      </div>
      <div class="form-group col-xs-4">
        <label for="puppy-gender">Gender</label>
        {{ form.gender(class="form-control", placeholder="Gender") }}
        {% if form.gender.errors %}
          <div class="alert alert-warning" role="alert">{% for error in form.gender.errors %}{{ error }}{% endfor %}</div>
        {% endif %}
      </div>
      <div class="form-group col-xs-4">
        <label for="puppy-dateOfBirth">Date of Birth (YYYY/MM/DD)</label>
        {{ form.dateOfBirth(class="form-control", placeholder="YYYY/MM/DD") }}
        {% if form.dateOfBirth.errors %}
          <div class="alert alert-warning" role="alert">{% for error in form.dateOfBirth.errors %}{{ error }}{% endfor %}</div>
        {% endif %}
      </div>
      <div class="form-group col-xs-4">
        <label for="puppy-weight">Weight</label>
        {{ form.weight(class="form-control", placeholder="Weight") }}
        {% if form.weight.errors %}
          <div class="alert alert-warning" role="alert">{% for error in form.weight.errors %}{{ error }}{% endfor %}</div>
        {% endif %}
      </div>
      <div class="form-group col-xs-12">
        <label for="puppy-picture">Picture</label>
        {{ form.picture(class="form-control", placeholder="Picture") }}
        {% if form.picture.errors %}
          <div class="alert alert-warning" role="alert">{% for error in form.picture.errors %}{{ error }}{% endfor %}</div>
        {% endif %}
      </div>
      <a href="{{ url_for('showShelter', shelter_id=shelter.id) }}" class="btn btn-default btn-left">Cancel</a>
      <input type="submit" class="btn btn-success btn-right" value="Add Puppy">
    </form>
  </body>
</html>
