{% extends "layout.html" %}
  {% block body %}
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <h3>Puppy Adoption Website</h3>
          <ol class="breadcrumb">
            <li><a href="{{ url_for('index')}}">Home</a></li>
            <li><a href="{{ url_for('showShelter', shelter_id=shelter.id) }}">{{ shelter.name }}</a></li>
            <li class="active">{{ puppy.name }}</li>
          </ol>
        </div>
      </div>
    </nav>

    <div class="col-md-6 col-md-offset-1 well">
      <h2 class='text-center'>{{ puppy.name }}</h2>
      <ul class="list-group col-md-10 col-md-offset-1 text-center">
          <li class="list-group-item">{{ puppy.gender }}</li>
          <li class="list-group-item">{{ puppy.dateOfBirth }}</li>
          <li class="list-group-item"><img src="{{ puppy.picture }}"></li>
          <li class="list-group-item">{{ puppy.weight }}</li>
      </ul>
    </div>
    <div class="col-md-3 col-md-offset-1 well">
      <h2 class='text-center'>Contact Info</h2>
      <table class="table">
        <tr>
          <td>Name:</td>
          <td>{{ shelter.name }}</td>
        </tr>
        <tr>
          <td>Address:</td>
          <td>{{ shelter.address }}</td>
        </tr>
        <tr>
          <td>City:</td>
          <td>{{ shelter.city }}</td>
        </tr>
        <tr>
          <td>State:</td>
          <td>{{ shelter.state }}</td>
        </tr>
        <tr>
          <td>Zipcode:</td>
          <td>{{ shelter.zipCode }}</td>
        </tr>
        <tr>
          <td>Website:</td>
          <td><a href="http://{{ shelter.website }}" target="_blank">{{ shelter.website }}</a></td>
        </tr>
      </table>

    </div>
  {% endblock %}
</html>
