<!DOCTYPE html>

<!-- Jasen Carroll
Aug 17th, 2015 -->
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Puppy Adoption</title>
    <meta name="description" content="Adoption website for Puppies in the Bay Area">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css')}}">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
  </head>
</html>
