{% extends "layout.html" %}
  {% block body %}
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <h3>Puppy Adoption Website</h3>
          <ol class="breadcrumb">
            <li><a href="{{ url_for('index')}}">Home</a></li>
            <li class="active">Delete Shelter</li>
          </ol>
        </div>
      </div>
    </nav>
    <form class="well bs-component clearfix" action="{{ url_for('deleteShelter', shelter_id=shelter.id) }}" method="POST">
      <legend>Delete Shelter</legend>
      <div class="form-group col-xs-12">
        <label for="shelter-name">Name</label>
        <input type="text" class="form-control"  id="shelter-name" value="{{ shelter.name }}" name="name" disabled>
      </div>
      <a href="{{ url_for('index') }}" class="btn btn-default btn-left">Cancel</a>
      <input type="submit" class="btn btn-danger btn-right" value="Delete Shelter">
    </form>

  {% endblock %}
</html>
