{% extends "layout.html" %}
  {% block body %}
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <h3>Puppy Adoption Website</h3>
          <ol class="breadcrumb">
            <li><a href="{{ url_for('index')}}">Home</a></li>
            <li class="active">Edit Shelter</li>
          </ol>
        </div>
      </div>
    </nav>
    <form class="well bs-component clearfix" action="{{ url_for('editShelter', shelter_id=shelter.id) }}" method="POST">
      <legend>Edit Shelter</legend>
      {{ form.csrf_token }}
      <div class="form-group col-xs-12">
        <label for="shelter-name">Name</label>
        {{ form.name(class="form-control", value=shelter.name) }}
        {% if form.name.errors %}
          <div class="alert alert-info" role="alert">{% for error in form.name.errors %}{{ error }}{% endfor %}</div>
        {% endif %}
      </div>
      <div class="form-group col-xs-12">
        <label for="shelter-address">Address</label>
        {{ form.address(class="form-control", value=shelter.address) }}
        {% if form.address.errors %}
          <div class="alert alert-info" role="alert">{% for error in form.address.errors %}{{ error }}{% endfor %}</div>
        {% endif %}
      </div>
      <div class="form-group col-xs-6">
        <label for="shelter-city">City</label>
        {{ form.city(class="form-control", value=shelter.city) }}
        {% if form.city.errors %}
          <div class="alert alert-info" role="alert">{% for error in form.city.errors %}{{ error }}{% endfor %}</div>
        {% endif %}
      </div>
      <div class="form-group col-xs-2">
        <label for="shelter-state">State</label>
        {{ form.state(class="form-control", value=shelter.state) }}
        {% if form.state.errors %}
          <div class="alert alert-info" role="alert">{% for error in form.state.errors %}{{ error }}{% endfor %}</div>
        {% endif %}
      </div>
      <div class="form-group col-xs-4">
        <label for="shelter-zipCode">Zipcode</label>
        {{ form.zipCode(class="form-control", value=shelter.zipCode) }}
        {% if form.zipCode.errors %}
          <div class="alert alert-info" role="alert">{% for error in form.zipCode.errors %}{{ error }}{% endfor %}</div>
        {% endif %}
      </div>
      <div class="form-group col-xs-12">
        <label for="shelter-website">Website</label>
        {{ form.website(class="form-control", value=shelter.website) }}
        {% if form.website.errors %}
          <div class="alert alert-info" role="alert">{% for error in form.website.errors %}{{ error }}{% endfor %}</div>
        {% endif %}
      </div>
      <a href="{{ url_for('index') }}" class="btn btn-default btn-left">Cancel</a>
      <input type="submit" class="btn btn-success btn-right" value="Edit Shelter">
    </form>

  {% endblock %}
</html>
